header{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 20%;
    background-image: url(img/header4.jpg); opacity: 0.97;
    background-repeat: no-repeat;
    background-size: cover;width:100%;
    
  
    
}
#titulo{
    font-size: 50px;
    background-color: #ff8c1a;opacity:0.8;
}
#subtitulo{
    color: #000000;
    font-size: 35px;
}

#text{
    font-size: 20px;
    font-family: sans-serif;
}
#image{
    text-align: center ;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 5px;
}
#legenda{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    color:000000;
}
#logo{
    width: 80%;
    text-align: center ;
    padding-top: 50px;
    padding-bottom: 5px;
}
#logoc{
    width: 65%;
    text-align: center ;
    padding-top: 30px;
    padding-bottom: 5px;
}
#logoe{
    width: 65%;
    text-align: center ;
    padding-top: 20px;
    padding-bottom: 2px;
}
#logog{
    width: 40%;
    text-align: center ;
    padding-top: 20px;
    padding-bottom: 2px;
}
#logoi{
    width: 55%;
    text-align: center ;
    padding-top: 145px;
    padding-bottom: 5px;
}