header{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 20%;
    background-image: url(img/header4.jpg); opacity: 0.97;
    background-repeat: no-repeat;
    background-size: cover;width:100%;
    
  
    
}
#titulo{
    font-size: 55px;
    background-color: #ff8c1a;opacity:0.8;
}


#text{
    font-size: 20px;
    font-family: sans-serif;
}
#image{
    text-align: center ;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 5px;
}
#legenda{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color:000000;
}
#legendaa{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color:white;
    opacity: 90%;
}
#logo{
    width: 80%;
    text-align: center ;
    padding-top: 50px;
    padding-bottom: 5px;
}
#logoc{
    width: 70%;
    text-align: center ;
    padding-top: 30px;
    padding-bottom: 2px;
}
#logoe{
    width: 65%;
    text-align: center ;
    padding-top: 20px;
    padding-bottom: 2px;
}
#logog{
    width: 40%;
    text-align: center ;
    padding-top: 20px;
    padding-bottom: 2px;
}
#logoi{
    width: 55%;
    text-align: center ;
    padding-top: 145px;
    padding-bottom: 5px;
}
#time{
    font-size: 20px;
    font-family: baloo bhaina 2;
    color:000000;
}
#title{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color:000000;
}
#desc{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color:000000;
    opacity: 0.68;
   
}
#icone{
    height:120px;
    width: 120px;
    border-color: #ff3333;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    
    
}

#futuro{
    padding-top:30px;
   
}

#taylor{
    height:205px;
    width: 210px;
    border-color: #e6e6e6;
    border-style: dashed;
    border-width: 3px;
    border-radius: 50%;

}
#descricao{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    color:000000;
}
#profissao{
    font-size: 23px;
    font-family: sans-serif;
    color:000000;
}
#emprego{
    height:47px;
    width: 47px;
    border-radius: 50%;

}
#harry{
    height:203px;
    width: 210px;
    border-color: #e6e6e6;
    border-style: dashed;
    border-width: 3px;
    border-radius: 50%;

}
#ed{
    height:210px;
    width: 210px;
    border-color: #e6e6e6;
    border-style: dashed;
    border-width: 3px;
    border-radius: 50%;

}
#dua{
    height:200px;
    width: 200px;
    border-color: #e6e6e6;
    border-style: dashed;
    border-width: 3px;
    border-radius: 50%;

}
#unifor{
    height:195px;
    width: 280px;     
}
#ufc{
    height:180px;
    width: 112px;     
}
#uece{
    height:170px;
    width: 110px;     
}
#unich{
    height:160px;
    width: 260px;     
}

#footer{
    height:47px;
    width: 47px;
    border-radius: 50%;

}
 #linha {
    padding-top: 60px;
    height:100px;
    width: 100px;
}
