header{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 20%;
    background-image: url(img/header4.jpg); opacity: 0.97;
    background-repeat: no-repeat;
    background-size: cover;width:100%;
    
  
    
}
#titulo{
    font-size: 40px;
    background-color: #ff8c1a;
    opacity: 100%;
}
#subtitulo{
    color: #000000;
}

#text{
    font-size: 20px;
    font-family: sans-serif;
}
#image{
    text-align: center ;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 5px;
}
#legenda{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    color:000000;
}